<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
      <ion-title>Task</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="task">
  <ion-item>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ task.name }}
      </h2>
    </ion-label>
  </ion-item>
  
  <div class="ion-padding">
    <p> Is completed: {{ task.isDone }}</p>
    <p> Creted on: {{ task.createdOn |  date:'dd/MM/yyyy HH:mm:ss a'}}</p>
    <p> Modified on: {{ task.modifiedOn |  date:'dd/MM/yyyy HH:mm:ss a'}}</p>
  </div>
</ion-content>
